#EXTM3U
#EXTINF:-1,Cento X Cento TV (18+)
http://37.9.0.201:8811
#EXTINF:-1,Dusk (18+)
http://37.9.0.201:8890
#EXTINF:-1,Passione TV (18+)
http://37.9.0.201:8888
#EXTINF:-1,XXX (18+)
http://37.9.0.201:8889
#EXTINF:-1,Hust
http://tv.newline.in.ua:8686/hustler
#EXTINF:-1,Nuart
http://78.111.176.132:8080
#EXTINF:-1,Russian Night
http://78.111.176.132:8082
#EXTINF:-1,Nuart  (18+)
http://93.91.113.8:9999/play/a0bh/index.m3u8
#EXTINF:-1,Playboy (18+)
http://93.91.113.8:9999/play/a07t/index.m3u8
#EXTINF:-1,Русская ночь (18+)
http://93.91.113.8:9999/play/a07r/index.m3u8
#EXTINF:-1,Jasmin TV (18+)
http://109.71.162.112:1935/live/sd.jasminchannel.stream/playlist.m3u8
#EXTINF:-1,Jasmin TV HD (18+)
http://109.71.162.112:1935/live/hd.jasminchannel.stream/playlist.m3u8
#EXTINF:-1,Playboy
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/142/index.m3u8
#EXTINF:-1,Nuart TV
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/264/index.m3u8
#EXTINF:-1,Русская Ночь
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/266/index.m3u8
#EXTINF:-1,Эгоист
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/267/index.m3u8
#EXTINF:-1,Blue Hustler
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/268/index.m3u8
#EXTINF:-1,PRIVATE TV
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/354/index.m3u8
#EXTINF:-1,Evil Angel TV
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/358/index.m3u8
#EXTINF:-1,DUSK
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/359/index.m3u8
#EXTINF:-1,SCT
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/360/index.m3u8
#EXTINF:-1,Cento X Cento
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/361/index.m3u8
#EXTINF:-1,Sesto Senso
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/362/index.m3u8
#EXTINF:-1,Passion XX
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/363/index.m3u8
#EXTINF:-1,Livechannel
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/364/index.m3u8
#EXTINF:-1,Pink O TV
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/365/index.m3u8
#EXTINF:-1,XXL
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/500/index.m3u8
#EXTINF:-1,Redlight HD
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/501/index.m3u8
#EXTINF:-1,Hustler HD
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/502/index.m3u8
#EXTINF:-1,Vivid TV Europe
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/754/index.m3u8
#EXTINF:-1,Dorcel TV HD
http://playlist.onlybest.tv/ru/channel/3dfec4b56a6fbb4052ceb76274060617/851/index.m3u8
#EXTINF:-1,HOT 01
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-15/0/pc.m3u8
#EXTINF:-1,HOT 02
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-16/0/pc.m3u8
#EXTINF:-1,HOT 03 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-17/0/pc.m3u8
#EXTINF:-1,HOT 04 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-18/0/pc.m3u8
#EXTINF:-1,HOT
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-19/0/pc.m3u8
#EXTINF:-1,HOT 05 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-21/0/pc.m3u8
#EXTINF:-1,HOT 6
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-26/0/pc.m3u8
#EXTINF:-1,HOT 07 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-27/0/pc.m3u8
#EXTINF:-1,HOT 08
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-28/0/pc.m3u8
#EXTINF:-1,HOT X
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-30/0/pc.m3u8
#EXTINF:-1,HOT 9
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-31/0/pc.m3u8
#EXTINF:-1,HOT 10 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-36/0/pc.m3u8
#EXTINF:-1,HOT XXX
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-37/0/pc.m3u8
#EXTINF:-1,HOT 11 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-45/0/pc.m3u8
#EXTINF:-1,HOT 12 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-47/0/pc.m3u8
#EXTINF:-1,HOT 13 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-48/0/pc.m3u8
#EXTINF:-1,HOT 14
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-49/0/pc.m3u8
#EXTINF:-1,HOT 15 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-50/0/pc.m3u8
#EXTINF:-1,HOT 16 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-51/0/pc.m3u8
#EXTINF:-1,HOT 17 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-52/0/pc.m3u8
#EXTINF:-1,HOT 18 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-53/0/pc.m3u8
#EXTINF:-1,HOT 19 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-54/0/pc.m3u8
#EXTINF:-1,HOT 20 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-63/0/pc.m3u8
#EXTINF:-1,HOT 21 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-64/0/pc.m3u8
#EXTINF:-1,HOT ero
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-66/0/pc.m3u8
#EXTINF:-1,HOT 22 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-68/0/pc.m3u8
#EXTINF:-1,NHOT 23
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-70/0/pc.m3u8
#EXTINF:-1,HOT 24 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-71/0/pc.m3u8
#EXTINF:-1,HOT erotic HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-72/0/pc.m3u8
#EXTINF:-1,HOT 25 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-73/0/pc.m3u8
#EXTINF:-1,HOT 26 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-74/0/pc.m3u8
#EXTINF:-1,HOT 27
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-75/0/pc.m3u8
#EXTINF:-1,HOT 28
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-76/0/pc.m3u8
#EXTINF:-1,erotic
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-77/0/pc.m3u8
#EXTINF:-1,HOT 29
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-78/0/pc.m3u8
#EXTINF:-1,HOT 30
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-79/0/pc.m3u8
#EXTINF:-1,HOT 31
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-80/0/pc.m3u8
#EXTINF:-1,HOT 32 HD
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-92/0/pc.m3u8
#EXTINF:-1,HOT 33
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-105/0/pc.m3u8
#EXTINF:-1,HOT 34
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-107/0/pc.m3u8
#EXTINF:-1,HOT 35
http://playlist.prg09.v-ip-tv.com/atip/3/21/channel-108/0/pc.m3u8


